.TextCarrousel {
	background-color: $background-color_5;
}

.textInicio {
	display: flex;
	flex-direction: column;
	height: auto;
}

.H2Home {
	margin-top: 10px;
	font-size: 20px;
}

.textoInc {
	margin-bottom: 10px;
	margin-top: 10px;
}

.inicio {
	margin-bottom: 20px;
}