.textoNos {
    margin: 50px 100px;
}

h1 {
    margin: 10px 0px;
}

h2 {
    font-size: 30px;
    margin: 20px 0px;
}

h3 {
    font-size: 23px;
    text-align: left;
    margin: 20px 0px;
}

h4 {
    font-size: 20px;
    margin: 20px 0px;
}

p {
    font-size: 15px;
    margin: 20px 0px;
}